.body{
	background-color: #ffffff;
	width: 80%;
	margin:auto;
	line-height: 1.6em;
	overflow: hidden;
	font-family:arial, sans-serif;

}

.header{
	background-color: #cc0000;
	color: white;
	font-family:calibri, arial;
	padding: 10px;
	text-align: center;
	border-radius:5px;
	margin-bottom:20px;
		
}



.button:hover{
	background: #cc0000;
	color:white;
}

.pw-box{
	border:1px #666666 solid;
	background-color:#eeeeee;
	padding: 20px;
	float:center;


}

.my-form .form-group{
	padding-bottom: 20px;
}

.my-form label{
	display: block;
}

.my-form input[type="text"]{
	padding:8px;
	width: 100%;
}

.my-form input[type="password"]{
	padding:8px;
	width: 100%;
}

.button{
	background-color: #0e2f44;
	color: white;
	padding: 10px 15px;
	border:none;
}

footer{
	margin-top:300px;
	background-color:#0e2f44;
	color: white;
	text-align: center;
	padding:20px;
	font-family: arial;
	border-radius:5px;
}

